body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: white;
}

.canvas {
  margin-top: 50px;
}

.button {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 8px;
}

/* Specific colors */
#grey {
  background-color: grey;
}

#white {
  background-color: white;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}
